@import '../../Assets/SCSS/ColourPalette.scss';

.footerBottom2 {
    display: block !important;
    margin: 0px !important;
    padding: 10px !important;
    color: $blue !important;
    cursor: pointer
}
table.price-content {

    thead {

        tr {
            th,
            td {
                background: none;

                &:first-child {
                    min-width: 250px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                border-bottom: 1px solid #efefef !important;

                img {
                    float: left;
                    width: 70px;
                    margin-top: 14px;
                }
                span {
                    font-size: 14px;
                    font-weight: bold;
                    display: block;
                    margin-top: 10px;
                    margin-bottom: -8px;
                }
                i {
                    font-size: 12px;
                    opacity: .3;
                }

                .dropdown {

                    .dropdown-menu {
                        border: 1px solid #E4E4E4;
                        padding: 0px;

                        a {
                            border-bottom: 1px solid #e4e4e4 !important;
                            padding: 10px 20px;
                            color: $blue;
                            background: transparent;

                            &:last-child {
                                border-bottom: 0px !important;
                            }
                        }

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.brochure {
    display: block;
    border-top: 1px solid #efefef;
    padding: 7px 10px !important;
    font-weight: 500 !important;
    font-size: 14px;
}
.footerBottom2 {
    font-weight: 500 !important;
}
.price-content {
    margin-top: 60px;
    margin-bottom: 60px;
}
.AnnouncementDetails {
    position: relative;
    z-index: 99;
}

.dropdown {
        
    #moreButton {
        width: 25px;
        padding: 0px;
        border: 0px;
        opacity: 1;
        overflow: hidden;
        text-indent: 100px;
        outline: none;
        box-shadow: 0px 0px 0px 0px #fff;
        float: right;
        background-color: transparent;
        background-image: url(../../Assets/img/more__1_.png) !important;
        background-repeat: no-repeat;
        background-position: center;

        &:after {
            display: none;
        }
    }
}