@import '../../Assets/SCSS/ColourPalette.scss';

.SliderComp {
    position: relative;
    overflow: hidden;

    .blurbg {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        filter: blur(21px);
        overflow: hidden;
        transition: 400ms all;
    }

    iframe {
        height: 601px;
        position: relative;
        z-index: 999;
        margin-bottom: -6px;
    }

    .slick-list .slick-active.slick-current {
        visibility: visible;

        .desc {
            display: block !important;
        }
    }
    .desc {
        display: none !important;
    }
    .slick-list {

        .slick-slide {
            visibility: hidden;

            div > div {
                outline: none;

                div.desc {
                    margin-top: -160px;
                    margin-left: 70px;
                    position: relative;
                    top: -30px;

                    div.title {
                        padding: 10px 20px;
                        background: $blue;
                        display: inline-block;
                        font-size: 32px;
                        font-weight: bold;
                        color: #fff;
                    }
                    p {
                        width: 500px;
                        margin-top: 10px;
                        font-weight: 300;
                        color: #fff;
                        font-size: 20px;
                    }
                    
                    a  {
                        display: block;
                        background: $blue !important;
                        padding: 10px 20px;
                        float: left;
                        color: #fff;
                        border-radius: 5px;
                        line-height: 9px;
                        height: 32px;

                        &.nullElementSlider {
                            background: transparent !important;
                        }
                    }
                }
                        
                img {
                    display: block;
                    width: 100%;
                    margin-bottom: -6px;
                }
            }
        }
    }
            
    .slick-prev {
        left: auto;
        right: 100px;
        top: auto;
        bottom: 35px;
        z-index: 999;
        transform: none;
        background: #fff;
        width: 50px;
        height: 35px;
        border-radius: 5px 0px 0px 5px;
        background-image: url(../../Assets/img/left-arrow.png);
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;

        &:before {
            display: none;
        }
    }            
    .slick-next {
        left: auto;
        right: 50px;
        top: auto;
        bottom: 35px;
        z-index: 999;
        transform: none;
        background: #fff;
        width: 50px;
        height: 35px;
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid #ccc;
        background-image: url(../../Assets/img/right-arrow.png);
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;

        &:before {
            display: none;
        }
    }
}