@import '../../Assets/SCSS/fonts.scss';

* {
    outline: none !important;
}
a {
    text-decoration: none !important;
}

h5 {
    font-family: 'Corporate A Cond Pro'
}

.container {
    padding: 0px !important;
}