@import '../../Assets/SCSS/ColourPalette.scss';

.Header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    height: 135px;

    .logo-section {
        width: 100%;
        height: 100px;
        background: url(../../Assets/img/logo-section.png);
        background-size: cover;
        background-position: center;
        padding: 15px;

        .mercedes-logo {
            width: 71px;
            height: 71px;
            display: inline-block;
            background-image: url(../../Assets/img/MercedesLogo.png);
        }
        .mercedes-turk {
            width: 300px;
            height: 71px;
            float: right;
            background-image: url(../../Assets/img/mercedesTurk.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .Menu {
        background: #fff;

        .Menu {
            float: left;

            a {
                color: #000;
                padding: 5px 20px;
                display: inline-block;
                margin-bottom: -1px;
                height: 35px;

                &:first-child {
                    padding-left: 0px;
                }

                &.active {
                    background: $blue;
                    color: #fff;
                    padding-left: 20px;
                }
            }

            
            .dropdown-item-list {
                @extend .Menu;
                float: none;
                position: relative;
                z-index: 999;

                &:hover {

                    &+div.dropdown-list {
                            display: block !important;
                    }
                }
                a {
                    padding-left: 20px !important;
                    
                    &:hover {

                        &+div.dropdown-list {
                            display: block !important;
                        }
                    }
                }

                .dropdown-list {
                    position: absolute;
                    left: 0px;
                    top: 35px;
                    min-width: 220px;
                    border-radius: 0px 0px 5px 5px;
                    background-image: url(../../Assets/img/menu-logo.png);
                    background-color: #fff;
                    background-size: 80%;
                    background-position: right bottom;
                    background-repeat: no-repeat;
                    
                    &:hover {
                        display: block !important;
                    }
                    a {
                        width: 100%;
                        color: #000;
                        display: inline-block;
                        padding: 10px;
                        height: auto;
                        background: transparent;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
        .Language {
            float: right;
            padding-left: 15px;
            border-left: 1px solid #eaeaea;
            margin-left: 15px;
            height: 35px;

            a {
                display: inline-block;
                padding: 5px 0px;
                font-size: 14px;
                margin-right: 5px;
                color: #000;
            }

            .active {
                color: $blue;
                font-weight: bold;
            }
        }
        .Search {
            float: right;

            .search-icon {
                width: 24px;
                height: 24px;
                background: #ccc;
                display: inline-block;
                margin-top: 5px;
                background: url(../../Assets/img/search.png);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}