@import '../../Assets/SCSS/ColourPalette.scss';
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
.Header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    height: 135px;
    
    .logo-section {
        width: 100%;
        height: 100px;
        background: url(../../Assets/img/logo-section.png);
        background-size: cover;
        background-position: center;
        padding: 15px;

        .mercedes-logo {
            width: 71px;
            height: 71px;
            display: inline-block;
            background-image: url(../../Assets/img/MercedesLogo.png);
        }
        .mercedes-turk {
            width: 300px;
            height: 71px;
            float: right;
            background-image: url(../../Assets/img/mercedesTurk.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .Menu {
        background: #fff;

        &>.container {
            text-align: center;

            
            @media only screen and (max-width: 768px) {
                text-align: left !important;

                .Menu {


                    nav {

                        &>a {
                            padding-left: 20px;
                        }
                    }
                }
            }
        }

        .Menu {
            margin: 0 auto;
            float: none !important;
            display: inline-block;



            a {
                color: #000;
                padding: 5px 20px;
                display: inline-block;
                margin-bottom: -1px;
                height: 35px;
                padding-right: 0px;

                &:first-child {
                    padding-left: 0px;
                }

                &.active {
                    background: $blue;
                    color: #fff;
                    padding-left: 20px;
                    padding-right: 0px !important;
                    position: relative;
                    z-index: 9999;
                    margin-right: 10px;

                    &:before {
                        content: '';
                        width: 20px;
                        height: 35px;
                        display: block;
                        background: #1a96e8;
                        margin-left: -25px;
                        float: left;
                        margin-top: -5px;
                        transform: skew(-10deg, 0deg);
                    }
                    &:after {
                        content: '' !important;
                        width: 20px !important;
                        height: 35px !important;
                        display: block !important;
                        background: #1a96e8 !important;
                        margin-right: -5px !important;
                        margin-left: 3px !important;
                        float: right !important;
                        margin-top: -5px !important;
                        transform: skew(-10deg, 0deg) !important;
                    }

                    &+div a.active {

                        &:after {
                            display: none !important;
                        }
                    }
                }
            }

            .dropdown-item-list {
                text-align: left;
            }
            .dropdown-item-list > a {
                text-transform: uppercase;
            }

            &> nav > a {
                text-transform: uppercase;


                &:after {
                    content: '/';
                    display: inline-block;
                    margin-left: 20px;
                }

                &:last-child {
                    &::after {
                        display: none
                    }
                }
            }

            
            .dropdown-item-list {
                @extend .Menu;
                float: none;
                position: relative;
                z-index: 999;

                
                &> a {

                    &:after {
                        content: '/';
                        display: inline-block;
                        margin-left: 20px;
                    }
                }
                a {
                    padding-left: 20px !important;

                    
                    &:hover {

                        &+button+div.dropdown-list {
                            display: block !important;
                        }
                    }
                }

                .dropdownActivate {
                    display: none;
                }
                .dropdown-list {
                    position: absolute;
                    left: 0px;
                    top: 35px;
                    z-index: 999;
                    min-width: 220px;
                    border-radius: 0px 0px 5px 5px;
                    background-color: #fff;
                    
                    &:hover {
                        display: block !important;
                    }
                    a {
                        width: 100%;
                        color: #000;
                        display: inline-block;
                        padding: 10px;
                        height: auto;
                        font-size: 17px;
                        background: transparent;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
        .Language {
            float: right;
            padding-left: 15px;
            border-left: 1px solid #eaeaea;
            margin-left: 15px;
            height: 35px;

            a {
                display: inline-block;
                padding: 5px 0px;
                font-size: 14px;
                margin-right: 5px;
                color: #000;
            }

            .active {
                color: $blue;
                font-weight: bold;
            }
        }
        .Search {
            float: right;

            .search-icon {
                width: 24px;
                height: 24px;
                background: #ccc;
                display: inline-block;
                margin-top: 5px;
                background: url(../../Assets/img/search.png);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

.dropdown-item-list {

    .dropdown-list {
        a {
            &::after,
            &::before {
                display: none !important;
                visibility: hidden;
            }
        }
    }
}


@media only screen and (max-width:768px) {

    .sticky {
        position: fixed !important;
    }

    .SubCategories .subcategory,
    .SubCategories .subcategory .text,
    .SubCategories .subcategory .text h5 {
        text-align: left !important;
    }

    .Header .Menu {

        nav {
            background: #e9eff1;

            &>a {
                background: #fff;
            }
        }

        a:after {
            display: none !important;
        }
    }

    .dropdown-item-list .dropdown-list {
        background: #efefef !important;
        padding-left: 15px !important;
        border-radius: 0px !important;

    }

    .Header .Menu .Menu a, .Header .Menu .Menu .dropdown-item-list a {
        height: initial;
    }

    .popup-details .tabs {
        width: 90% !important;
        left: 30% !important;
    }

    .Header .Menu .Menu a.active:after {
        display: none !important;
    }

    .dropdownActivate {
        display: block !important;
        float: right;
        border-radius: 50%;
        border: 0px;
        background: #696969;
        position: absolute;
        right: 10px;
        top: 4px;
        width: 24px;
        height: 24px;
        z-index: 99999;

        &:before {
            content: '';
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: relative;
            top: -5px;
        }
    }

    .active-mobilemenu {
        display: block !important;
    }

    a:hover {

        &+div.dropdown-list {
            display: initial !important;
        }
    }

    .logo-section {
        background-position: left !important;
    }
}