.social-media {

    a {
        width: 24px;
        height: 18px;
        display: inline-block;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    button {
        position: relative;
        top: -5px;
        padding: 0px;
        width: 24px;
        height: 18px;
        overflow: hidden;
        text-indent: 555px;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent !important;
        border: 0px;
        outline: none;
        box-shadow: 0px 0px 0px 0px #000 !important;
    }

    .dropdown {
        height: 18px;
        display: inline-block;
        margin-right: 10px;
            
        div.dropdown-menu {
            max-width: 200px;
            border-radius: 0px;

            &:before {
                content: '';
                background: #fff;
                width: 7px;
                height: 12px;
                display: block;
                margin-top: -12px;
                margin-left: 5px;
                transform: rotate(45deg);
                margin-bottom: -7px;
            }

            a {
                position: relative;
                z-index: 9999;
                width: 100%;
                height: auto;
                padding: 11px 20px;

                &:hover {
                    color: #fff;
                    background: #000;
                    font-weight: 500;
                }

                &:last-child {
                    border: 0px !important;
                    margin-bottom: -5px;
                }
            }
        }
    }

    #youtube {
        background-image: url(../../Assets/img/001-youtube.png);
    }
    #instagram {
        background-image: url(../../Assets/img/002-instagram-sketched.png);
    }
    #twitter {
        background-image: url(../../Assets/img/003-twitter.png);
    }
    #linkedin {
        background-image: url(../../Assets/img/004-linkedin.png);
    }
    #facebook {
        background-image: url(../../Assets/img/005-facebook.png);
    }

    button {

        img {
            width: 100%;
            float: left;
        }
    }
}