@import '../../Assets/SCSS/ColourPalette.scss';

.Footer {
    background: #353636;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-weight: 300;
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url(../../Assets/img/footer-logo.png);
    background-repeat: no-repeat;
    background-size: auto 150%;
    background-position: -150px 30px;
    margin-bottom: -6px;
    opacity: 0;
    position: relative;
    z-index: 9999;
    
    .footerBottom {
        width: 100%;
        border-top: 1px solid #ffffff12;
        border-bottom: 1px solid #ffffff12;
        padding-bottom: 5px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -40px;
        a {
            color: #fff;
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            opacity: .7;
        }
    }

    div.col-lg-4 {

        h5 {
            margin-bottom: 15px;
        }

        &:first-child  {

        }
        p {
            font-size: 14px;
        }
        .Menu {
            a {
                font-size: 15px;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                width: 100%;
    
                &:before {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 10px;
                    margin-right: 6px;
                    background-image: url(../../Assets/img/footer-arrow.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    top: 1px;
                }
            }
            div {
                width: 100%;
            }
        }

    }
    .Menu {

        .dropdown {
            display: inline-block;

            div {

                a {
                    color: #000;
                }
            }
        }
    }

    .social-media {

        img {
            float: left;
            height: 100%;
            width: auto;
        }

        a {
            width: 24px;
            height: 18px;
            display: inline-block;
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
        button {
            position: relative;
            top: -5px;
            padding: 0px;
            width: 24px;
            height: 18px;
            overflow: hidden;
            text-indent: 555px;
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent !important;
            border: 0px;
            outline: none;
            box-shadow: 0px 0px 0px 0px #000 !important;
        }

        .dropdown {
            height: 18px;
            display: inline-block;
            margin-right: 10px;
                
            div.dropdown-menu {
                max-width: 200px;
                top: 10px !important;

                a {
                    width: 100%;
                    height: auto;
                }
            }
        }

        #youtube {
            background-image: url(../../Assets/img/001-youtube.png);
        }
        #instagram {
            background-image: url(../../Assets/img/002-instagram-sketched.png);
        }
        #twitter {
            background-image: url(../../Assets/img/003-twitter.png);
        }
        #linkedin {
            background-image: url(../../Assets/img/004-linkedin.png);
        }
        #facebook {
            background-image: url(../../Assets/img/005-facebook.png);
        }
    }
    .copyright {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 60px;
        font-size: 12px;
    }
}
.popup-details2 {

    .tabs {
        width: 50%;
    }
}
.popup-details,
.popup-details2 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    overflow: auto;

    .tabs {
        position: absolute;
        left: 50%;
        top: 20px;
        margin-left: -25%;
        z-index: 99;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    div.overlay {
        background: #00000059;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.popup-details .tabs {
    width: 50%;
}
.tabs-nav {
    border-bottom: 1px solid #efefef;

    a {
        background: #F4F4FB;
        border-color: #ededed  #ededed  #fff #ededed;
        border-radius: 5px 5px 5px 0px;
        margin-right: 24px;
        color: #B8B8B8;
        font-weight: 600;

        &:after {
            content: '';
            background-image: url(../../Assets/img/not-active-corner-accordion.png);
            background-size: auto 100%;
            width: 39px;
            height: 42px;
            display: block;
            float: right;
            margin-top: -9px;
            margin-bottom: -30px;
            margin-right: -51px;
        }
    }

    a.active {
        border-color: #e3e3e3  #e3e3e3  #fff #e3e3e3;
        background: #fff;
        position: relative;
        z-index: 99;
        color: $blue;

        &:after {
            background-image: url(../../Assets/img/accordion-title-corner.png);
        }
    }
}


.nav.nav-tabs {
    border-bottom: 1px solid #efefef;

    li {
        margin-right: -5px;
    }

    a {
        background: #F4F4FB;
        border-color: #ededed  #ededed  #fff #ededed;
        border-radius: 5px 5px 5px 0px;
        margin-right: 30px !important;
        color: #B8B8B8;
        font-weight: 600;
        margin-right: 30px;
        padding: 8px;
        display: block;
        border-left: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;

        &:after {
            content: '';
            background-image: url(../../Assets/img/not-active-corner-accordion.png);
            background-size: auto 100%;
            width: 39px;
            height: 41px !important;
            display: block;
            float: right;
            margin-top: -9px;
            margin-bottom: -30px;
            margin-right: -41px !important;
        }
    }

    .active {

        a {
            border-color: #e3e3e3  #e3e3e3  #fff #e3e3e3 !important;
            background: #fff !important;
            position: relative !important;
            z-index: 99 !important;
            color: $blue !important;

            &:after {
                background-image: url(../../Assets/img/accordion-title-corner.png) !important;
            }
        }
        
    }
}
.tab-content {
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 0px 0px 5px 5px;
    margin-top: -1px;
    color: #000;

    .pdfbutton,
    .excelbutton {
        float: right;
        padding: 5px 20px;
        border-radius: 50px;
        border: 0px;
        margin-top: -60px;
        font-size: 10px;
        color: #fff;
    }

    .pdfbutton {
        margin-right: 130px;
        background: #EE4A4A;
    }
    .excelbutton {
        background: #6ECC7E;
    }
}