@import '../../Assets/SCSS/ColourPalette.scss';
@import '../../Assets/SCSS/fonts.scss';

.aboutus {
    padding-top: 150px;
    padding-bottom: 150px;
    background: url(../../Assets/img/world-map.png) no-repeat;
    background-position: right;
    background-size: auto 107%;

    h3 {
        font-size: 40px;
        margin-bottom: -3px;
        font-family: 'Corporate A Cond Pro Regular';
        text-transform: uppercase;
    }
    i.title-desc {
        font-size: 25px;
        color: $gray;
        font-style: normal;
    }
    p {
        font-size: 18px;
        margin-top: 25px;
        font-weight: 300;
    }
}

.main-categories {
    opacity: 0;
}

.mainposts {
    @extend .aboutus;
    background: none;
    display: inline-block;
    width: 100%;
    opacity: 0;
}

.mainmap {
    @extend .aboutus;
    background-image: url(../../Assets/img/map-location.png);
    background-position: center;
    opacity: 0;

    h3 {
        font-size: 50px;
    }
    i.title-desc {
        font-size: 30px;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
        opacity: .9;
    }
    a {
        display: inline-block;
        padding: 9px 20px;
        margin-top: 30px;
        border: 0px;
        background: $blue;
        color: #fff;
        border-radius: 5px;
    }

}

.announcementslider {
    @extend .aboutus;
    background: none;
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    .slick-list {
    }
    .SliderComp .slick-list .slick-slide div > div div.desc {
        margin-top: -75px;
        top: -15px;
    }
    .SliderComp .slick-list .slick-slide div > div div.desc div.title {
        padding: 6px 15px;
    }
    .SliderComp .slick-list .slick-slide div > div div.desc p {
        font-size: 13px;
    }
    .SliderComp .slick-list .slick-slide div > div div.desc a {
        display: block;
        background: #1A96E8 !important;
        padding: 7px 11px;
        float: left;
        color: #fff;
        border-radius: 5px;
        line-height: 9px;
        height: 23px;
        font-size: 12px;
        margin-top: -10px;
    }
    .SliderComp .slick-next {
        left: auto;
        right: 20px;
        top: auto;
        bottom: 15px;
        z-index: 999;
        transform: none;
        background: #fff;
        width: 40px;
        height: 25px;
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid #ccc;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAcCAYAAAC+lOV/AAAABHNCSVQICAgIfAhkiAAAAHFJREFUOI3t0qENwmAQgNEXdiDtBsBAjEBVBbOQ1HQVpmiCrUUAA9QVwQnsNUHQ/KfOvO/MwYA7DhbMDTNe2GdxhTECT+xKoAT+M1DjEYFhk8RHbGO/ZuApLs7oVwrbAn8Az1/wkoEwBeyykM+zN0vgG4LLTkvV4sQvAAAAAElFTkSuQmCC);
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .SliderComp .slick-prev {
        left: auto;
        right: 60px;
        top: auto;
        bottom: 15px;
        z-index: 999;
        transform: none;
        background: #fff;
        width: 40px;
        height: 25px;
        border-radius: 5px 0px 0px 5px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAcCAYAAAC+lOV/AAAABHNCSVQICAgIfAhkiAAAAG5JREFUOI3t1LENglAUhtFDpNN1LBjDyilci0QLOyo2YAFD4ggUJLQQaF5hezHG5t3+fNWfS/wqjGjKHbDFEUUEnjFhRYdThhn+FsKQYB+FUCe84BrFBzxTYMYlB3Lgb4G7L6f8SIF36Ot/BG54bcAGTjxMShH0AAAAAElFTkSuQmCC);
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .MainCategories .category {
        overflow: hidden;
        position: relative;
    }
    .MainCategories .category img {
        width: 140%;
    }
    .announcementslider img {
        max-height: initial !important;
    }

    .aboutus, .mainposts, .mainmap, .announcementslider {
        padding-left: 30px;
        padding-right: 30px;
    }
    .MainPosts span.post-title i {
        font-size: 42px;
    }
}

@media only screen and (min-width: 1920px) {
    .MainCategories .category img {
        width: 100% !important;
    }
}